.choresText {
   font-family:serif;
   font-size: 16pt;
   font-style: italic;
   text-align: left;
   margin: 5px;
   color:darkgreen;
}

.choresHeading {
   font-family: serif;
   font-size: 24pt;
   text-decoration: underline;
   text-align: left;
   margin: 20px;
   color:goldenrod;
}